@use "../variables"
@use '../mixins'

.projects-container
    margin-bottom: 1rem

    .projects-grid
        display: flex
        flex-wrap: wrap
        gap: 1.5rem

        .project-card
            @include mixins.center
            gap: 1rem
            padding: 1rem
            border: 1px solid #333
            width: 100%
            border-radius: variables.$card-border-radius
            display: flex
            flex-direction: column
            justify-content: left
            img                
                width: 90%
                height: auto
                margin-top: 0.3rem                 
            h3
                margin-bottom: 1rem 
            a
                text-decoration: none
                color: variables.$bg-color-secondary 
                &:hover
                    color: variables.$body-bg-color

            .project-main
                display: flex
            
                @media (max-width: 680px)                    
                    flex-direction: column
                    text-align: center            
            
                

                              
        
                

                
                

            
            